html{
	background-color: black;
	overflow-x: hidden;
}
body{
	position: relative;
	overflow-x: hidden;/* !important;*/
	overflow-y: scroll;
	max-width: 100%;
	background-color: black;
}
#titlee{
	font-size: 50px;
	color: white;
	width: 100%;
    font-family: 'Jura', sans-serif;
    position: absolute;
    z-index: 4;
    top: 0;
    letter-spacing: 2px;
}

/* CSS styling for nav bar */
#header{
    width: 100%;
    z-index: 3;
    position: absolute;
    text-decoration: none;
}
nav {
    width: 100%;
    font-family: 'Jura', sans-serif;
}
#mainNav{
	padding-top: 80px;
	background-color: rgba(0, 0, 0, 0.60);
}
ul {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 45px;
}
li {
    display: inline;
    float: left;
}
a {
  	color: white;
  	display: inline-block;
  	width: 120px;
  	text-align: center;
  	text-decoration: none;
  	line-height: 40px;
  	font-size: 20px;
}
.affix{
	top: -75px;
	position: fixed;
}
.affix-top{
	top: 0px;
	position: static;
}
.container a:visited {
	color: #fff;
	text-decoration: none;
}
.container a:hover {
	color: red;
	text-decoration: none;
}

#nav1{
	text-decoration: none !important;
	z-index: 5;
}
li.active,
li.active:hover, 
li.active:focus  {
 	background: none;
 	color: none;
}
li.active a,
li.active:hover a, 
li:focus a {
	color: none;
	background-color: none;
}
.nav > li > a{
    padding:0px;
	text-shadow:none;
}
.nav > li > a:focus{
    text-decoration: none;
    background-color: transparent;
}
.nav .active > a{
	color:#ffff94;
}
.nav > li > a:hover {
    color: red;
    text-decoration: none;
    background-color: transparent;
}
/* End styling of nav bar */




div.w3-container{
	/*margin-top: 145px;*/
	font-family: 'Jura', sans-serif;
	background-color: black;
	color: white;
	/*color: #d8d8d8;*/
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	width: 100%;
}
#d2{
	display: inline-block;
	position: relative;
	text-align: center;
	left: 0;
	right: 0;
}
#down{
	left: 0;
	right: 0;
	top: 0;
	/*top: 450px;
	/*margin-right: -30px;
	padding-right: 30px;
	margin-left: -30px;
	padding-left: 30px;*/
	align-content: center;
	width: 100%;
}
#intro{
	position: absolute;
	color: white;
	/*top: 140px;*/
	/*top: -500px;
	left: 0;
	right: 0;
	align-content: center;*/
	font-weight: bold;
	/*text-shadow: white 5px;
	letter-spacing: 2px;*/
	text-shadow: 0px 0px 3px blue;
	align-content: center;
	left: 0;
	right: 0;
	top: 120px;
}
#d_img{
	height: 50px;
	width: auto;
	/*bottom: 220px;*/
	bottom: 25%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
/*#d3{
	left: 0;
	right: 0;
	align-content: center;
}*/
#photo1{
	width: 100%;
	height: auto;
	-webkit-filter: brightness(130%);
	filter: brightness(130%);
	padding-bottom: 20px;
}
#photo2{
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
#photo3{
	width: 100%;
	height: auto;
	padding-top: 10px;
}
#poster{
	height: auto;
	width: 98%;
	/*margin-top: -100px;*/
	border-style: solid;
	border-color: white;
	border-width: 2px;
	margin-left: -20px;
	vertical-align: middle;
}
#poster2{
	width: 100%;
	height: auto;
	max-width: 400px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}
td{
	padding-right: 2%;
	/*border: solid 1px white;*/
}
#school{
	padding-right: none;
}
#pos{
	padding-left: 0%;
	padding-right: 0%;
}
#tab{
	width: 100%;
}

#photo4{
	width: 90%;
	height: auto;
	padding-top: 10px;
	-webkit-filter: brightness(110%);
	filter: brightness(110%);
	max-width: 350px;
}
#trupe{
	width: 90%;
	height: auto;
	padding-top: 10px;
	-webkit-filter: brightness(130%);
	filter: brightness(130%);
	max-width: 350px;
}
div.content{
	padding-left: 40px;
	padding-right: 40px;
}



/* CSS styling for content sections */
p{
	font-size: 20px;
	line-height: 160%;
	color: #d8d8d8;
}
div.section{
	padding-top: 40px;
	margin-top: -40px;
	padding-bottom: 90px;
	border-top: 2px solid #888888;
	left: 0;
	right: 0;
	margin-right: -30px;
	padding-right: 30px;
	margin-left: -30px;
	padding-left: 30px;
	/*width: 100%;
	/*margin-left: -30px;
	margin-right: 130px;
	/*padding-left: 30px;
	padding-right: 30px;*/
}
#tbd{
	padding-bottom: 10px;
}
div.indent2{
	padding-left: 40px;
}
div.indent3{
	padding-left: 20px;
	padding-top: 10px;
}
div.row2{
	padding-left: 80px;
	padding-right: 20px;
	padding-top: 40px;
	margin-bottom: 40px;
	bottom: 40px;
}
#bio{
	text-align: center;
	/*padding-bottom: 50px;*/
}
#bottom2{
	width: 60%;
	height: auto;
	max-width: 280px;
}
#bottom4{
	width: 70%;
	height: auto;
	max-width: 280px;
}
#donate{
	display: inline;
	color: #ffff94;
}
#copyright{
	padding-top: 120px;
	vertical-align: bottom;
	text-align: center;
	/*border: solid 1px white;*/
	/*border: solid 1px white;*/
	/*background-image: url(rackets.png);*/
}
#credits{
	color: #444444;
}
/* End styling for content sections */

#W{
	border-top: none;
}

#t2{
	display: none;
	font-size: 45px;
	color: white;
	width: 100%;
    font-family: 'Jura', sans-serif;
    position: absolute;
    z-index: 4;
    top: 0;
    letter-spacing: 0px;
}
#t3{
	display: none;
	font-size: 45px;
	color: white;
	width: 100%;
    font-family: 'Jura', sans-serif;
    position: absolute;
    z-index: 4;
    top: 0;
    letter-spacing: 0px;
}


#h2{
	display: none;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.60);
    min-width: 120px;
    color: white;
    /*border: solid 1px green;*/
    text-align: right;
    float: right;
    align-content: right;
}

.dropdown-content a {
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    float: right;
    align-content: right;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: right;
    float: right;
    align-content: right;
}
#tab2{
	display: none;
	width: 100%;
}
.r2{
	display: none;
}

/* CSS styling for browser styles */
@media only screen and (max-width: 1024px){
	#copyright{
		padding-top: 100px;
	}
}
@media only screen and (max-width: 928px){
	#copyright{
		padding-top: 80px;
	}
}
@media only screen and (max-width: 850px){
	#copyright{
		padding-top: 65px;
	}
}
@media only screen and (max-width: 768px){
	#poster2{
		display: none;
	}
	#titlee{
		letter-spacing: 1px;
		font-size: 45px;
	}
	#copyright{
		padding-top: 50px;
	}
}
@media only screen and (max-width: 700px){
	#poster2{
		display: none;
	}
	#titlee{
		letter-spacing: 0px;
		font-size: 45px;
	}
	#copyright{
		padding-top: 40px;
	}
}
/*@media only screen and (max-width: 650px){
	#poster2{
		display: none;
	}
	#titlee{
		display: none;
	}
	#copyright{
		padding-top: 40px;
	}
	#t2{
		display: inline-block;
	}
}*/

@media only screen and (max-width: 650px){
	#poster2{
		display: none;
	}
	#titlee{
		display: none;
	}
	#copyright{
		padding-top: 40px;
	}
	#t2{
		display: inline-block;
	}
	#h1{
		display: none;
	}


	#h2{
		display: inline;
		align-content: right;
	}
	ul{
		/*border: solid 2px white;*/
		padding-right: 10px;
	}
	li{
		width: 100%;
		/*border: solid 1px yellow;*/
		text-align: right;
	}
	.dropdown-content{
		position: absolute;
		/*width: 10%;*/
		align-content: right;
		text-align: right;
	}
	#newsmall{
		width: 130px;
	}
	.container{
		position: relative;
		float: right;
	}
	li.dropdown{
		text-align: right;
	}
	#d_img{
		display: none;
	}
	#intro{
		position: relative;
		padding: none;
		top: -20px;
	}
	.dropbtn{
		padding: none;
		margin: none;
		padding-right: 18px;
		align-content: right;
		text-align: right;
	}
}

@media only screen and (max-width: 600px){
	#poster2{
		display: none;
	}
	#titlee{
		display: none;
	}
	#copyright{
		padding-top: 15px;
	}
}
@media only screen and (max-width: 480px){
	#copyright{
		padding-top: 00px;
		/*padding-left: -20px;
		margin-left: -20px;
		padding-right: -20px;
		margin-right: -20px;*/
	}
	#credits{
		font-size: 16px;
	}
	div.content{
		padding-left: 0px;
		padding-right: 0px;
	}
	#tab{
		display: none;
	}
	#tab2{
		display: inline-block;
	}
	td{
		padding-right: 4%;
	}
	#t2{
		display: none;
	}
	#t3{
		display: inline-block;
	}
	.w3-container{
		margin-top: 75px;
	}
	/*.w3-container:hover .dropdown-content {
    	display: none;
	}*/
	/*.dropdown.responsive li {
    float: none;
    display: none;
    background-color: none;
    }
    .dropdown.responsive li a {
    display: none;
    background-color: none;
    }*/
    .dropdown.responsive .dropdown-content {
    display: none;
    background-color: none;
    }
    #r1{
    	display: none;
    }
    .r2{
    	display: inline;
    }
}



/*
	Godaddy note:
		removed a (host) record:
			host: @
			points to: 184.168.221.45
			ttl: custom
			seconds: 600
		done so website always points to github servers
		credit to:
			http://serverfault.com/questions/743327/godaddy-domain-randomly-not-resolving-to-github-pages
			http://andrewsturges.com/blog/jekyll/tutorial/2014/11/06/github-and-godaddy.html

*/

